.btn {
    background-color: cyan;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn:hover {
   background-color: rgb(0, 215, 215);
}

.btn:active {
   background-color: rgb(0, 221, 221);
}